body {
	background: #000;
}

.main.segment {
	width: 90%;
	margin: 0 auto;
}



p {
	background: #000;
	padding-top: 13%;
	color: #999;
	font: 3em 'Roboto';
	font-weight: bolder;
	letter-spacing: .5px;

	
}
p.two{
	background: #000;
	padding-top: 2px;
	color: #999;
	font: 2.65rem 'Roboto';
	font-weight: bolder;
	letter-spacing: .75px

	
}

img {float: right}

.ui.attached.header { 
background: #000;
color:#999;
width:100%;
border:none;
}

#middle.ui.attached.header {
	height:310px;
}

.ui.move.up.reveal {
	margin-top: 5%;
}

.ui.move.up.reveal, 
.ui.top.attached.header.visible.content,
.ui.move.down.reveal,
.ui.bottom.attached.header.visible.content {
	width:100%;
}
/.ui.move.down.reveal,
.ui.bottom.attached.header.visible.content {
	margin: 5px;
}

.ui.segment.attached {
	border:none;
	width:100%;

}
.hidden.content {
	height:300px;
	background: #000;
	color:#999;
	padding:0;
	text-align: center;
}

div.first.ui.segment.hidden.content {
	
	text-align: left;

}

.ui.move.reveal>.content {
	transition: transform 1s cubic-bezier(0.175,.885,.32,1) 1s;
}

/*SLIDER OVERRRIDES*/

.bx-wrapper,
.bx-viewport{
	border:none;
	background: #000;
}

ul.bxslider {
  margin: 0;
  padding: 0;
}

.icon:hover {
	color: beige;
}

.icon {
	color: #888;
}

/*BREAK POINTS*/

/*MOBILE*/
@media  (max-width: 767px) {

	article {
		margin: auto 0;
	}

	p {
		color: #999;
		font-size: 1.65em;
		padding-bottom:1%;
		padding-top:8%;
		background: #000;
		text-align: left;


	}


	p.two {
		color: #999;
		font-size: 1em;
		padding-top:2px;
		background: #000;
		text-align:center;
}
	
	div.bx-pager.bx-default-pager {
		visibility: hidden;
		height: 0;
		padding:0;
	}

	div.bx-wrapper {
		margin: 0;
	}
	#middle.ui.attached.header {
	height:270px;
}
div.ui.move.up.reveal {
	margin-top: 8%;
	
}

}



/*TABLET*/
/*@media  (min-width: 768px) {

	body {
		background: yellow;
	}
}*/


/*DESKTOP*/
/*@media  (min-width: 992px) {

	body {
		background: pink;
	}
}*/

