body {
	background: #000;
}

.main.segment {
	width: 90%;
	margin: 0 auto;
}
header {
	width:300px;
}

h1 {
	font: 3em 'Roboto';
	font-weight: bolder;
	width:300px;
	position:relative;
}

p {
	background: chocolate;
	padding: 2% 10% 10% 2%;
	
}

img {float: right}

.ui.attached.header { 
background: #000;
color:#999;
width:100%;
border:none;
}

#middle.ui.attached.header {
	height:310px;
}



.ui.move.up.reveal, 
h3.ui.top.attached.header.visible.content,
.ui.move.down.reveal,
h3.ui.bottom.attached.header.visible.content {
	width:100%;
}
/.ui.move.down.reveal,
h3.ui.bottom.attached.header.visible.content {
	margin: 5px;
}

.ui.segment.attached {
	border:none;

}
.hidden.content {
	width:1200px;
	height:300px;
	background: #555;
	color:#999;

}
/*SLIDER OVERRRIDES*/

.bx-wrapper,
.bx-viewport{
	border:none;
	background: #000;
}

ul.bxslider {
  margin: 0;
  padding: 0;
}

/*BREAK POINTS*/

/*MOBILE*/
@media  (max-width: 767px) {

	article {
		margin: auto 0;
	}
}



/*TABLET*/
/*@media  (min-width: 768px) {

	body {
		background: yellow;
	}
}*/


/*DESKTOP*/
/*@media  (min-width: 992px) {

	body {
		background: pink;
	}
}*/

